/* colors */
:root {
  --themecolor: #B5C2BB; /*light green color*/
  --textcolor: #303030;
  --whitecolor: #f8f8f8;
  --secondcolor: #636363;
  --thirdcolor: #707E78;  /*dark green color*/
  --forthcolor: #fcf3ed; /*pink color*/
  --fifthcolor: #A5B4AC; 

}

/* typography */

  /* links + active and hover to them */
  nav a {
    text-decoration: none;
    color: var(--textcolor);
    transition: 0.4s;
    font-family: "mrs-eaves-roman-all-petite-c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }

    nav a.router-link-exact-active {
      background-color: var(--forthcolor);
    }

    nav a.router-link-exact-active:hover {
      /*background-color: transparent;*/
    }

    nav a:hover {
      background-color: var(--forthcolor);
    }

  .logo {
    color: var(--thirdcolor);
    font-family: "mrs-eaves-roman-all-petite-c", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px; 
  }

  /* big content text */
  h1 {
    color: var(--textcolor);
    font-family: "mrs-eaves-roman-all-petite-c", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
  }

   /* small content text */
  p {
    color: var(--forthcolor);
    font-family: mrs-eaves-roman-lining, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin: 12px 0;
  }

  /* heading on pages */
  h2 {
    color: var(--textcolor);
    font-family: sheila, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px; 
    margin: 80px 0 35px 0;
    text-align: center;
  }

  /* footer text */
  h3 {
    color: var(--forthcolor);
    font-family: mrs-eaves-roman-lining, serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10%;
    font-size: 15px;
  }

/* buttons */
a {
  text-decoration: none;
  }

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 170px;
  height: 50px;
  background-image: linear-gradient(to top, #e7e7e7 0%, var(--whitecolor) 80%, #FDFDFD 100%);
  
  border-radius: 30px;
  border: 1px solid var(--textcolor);
  transition: all 0.2s ease;
  font-family: "mrs-eaves-roman-all-petite-c", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--textcolor);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;

}


